@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.scroll {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

::-webkit-scrollbar {
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: #324157;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(28, 29, 32);
  background: linear-gradient(90deg, rgb(26, 27, 31) 0%, rgb(12, 12, 20) 48%, rgb(26, 27, 31) 100%);
  max-width: 414px;
  width: calc(100% - 3rem);
  margin-inline: auto;
  margin: 2rem 0;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input {
  -webkit-appearance: none;
  box-shadow: none !important;
}

:-webkit-autofill {
  color: #ffffff !important;
}

nav {
  display: none;
}
nav .legal {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  font-size: 0.7rem;
}
nav.show {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-between;
  z-index: 99999;
  background-color: rgba(20, 28, 40, 0.98);
  right: 0;
  top: 0;
  font-size: 1.4rem;
  padding: 2rem;
  width: 65%;
  height: 32.5rem;
}
nav.show ul {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  text-align: right;
}
nav.show ul li {
  padding: 1rem 0;
  border-bottom: 1px solid #1b232f;
  border-top: 1px solid #1b232f;
}
nav.show ul li:hover {
  opacity: 0.8 !important;
}
nav.show .close-btn {
  height: 2rem;
  aspect-ratio: 1;
  display: inline-block;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
nav.show .close-btn::after {
  content: "×";
  position: absolute;
  inset: 0;
  color: #ffffff;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  line-height: 2rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  list-style: none;
}

.steam-site {
  background-color: #151b24;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 2.2rem;
  margin: 2rem 0 5rem 0;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
}

input,
textarea,
button,
select {
  font: inherit;
  border: transparent;
  cursor: pointer;
  outline: none;
}

input[type=text] {
  color: #ffffff;
  cursor: auto;
}
input[type=text]::-moz-placeholder {
  color: rgba(111, 144, 194, 0.85);
}
input[type=text]::placeholder {
  color: rgba(111, 144, 194, 0.85);
}

input[type=submit]:hover,
button:hover {
  opacity: 1;
  background-color: #283345 !important;
  outline: none;
}

header {
  background: rgb(20, 26, 35);
  background: linear-gradient(349deg, rgb(30, 42, 59) 0%, rgb(18, 26, 38) 100%, rgb(9, 13, 19) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#141a23",endColorstr="#141a23",GradientType=1);
  padding: 1rem 0;
}
header .header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  width: calc(100% - 3rem);
}
header .header__container .header__logo {
  width: 2.5rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
header .header__container .header__logo img.logo__image {
  width: 150px;
  aspect-ratio: 1;
}
header .header__container .header__logo a.logo__text {
  cursor: pointer;
}
header .header__container .header__menu .header__menu__image {
  transition: 0.25s;
  display: block;
}
header .header__container .header__menu .header__menu__image:hover, header .header__container .header__menu .header__menu__image:focus {
  opacity: 0.8;
}
header .header__container .header__menu .header__menu__image.hide {
  display: none;
}

section.featured-games {
  margin-top: -2.2rem;
}

form.search-bar {
  margin-inline: auto;
  background-color: #283345;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6f90c2;
  border: 2px solid #324157;
  width: calc(100% - 3rem);
  border-radius: 0.4em;
}
form.search-bar input.search-bar__input {
  color: #ffffff;
  font-size: 1.125rem;
  background-color: transparent;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  border: none;
  width: calc(100% - 3rem);
  padding: 0.35rem 0.1rem;
  cursor: auto;
}
form.search-bar input.search-bar__input::-moz-placeholder {
  color: rgba(111, 144, 194, 0.85);
}
form.search-bar input.search-bar__input::placeholder {
  color: rgba(111, 144, 194, 0.85);
}
form.search-bar button.search-bar__button {
  background-color: transparent;
  border: none;
}
form.search-bar button.search-bar__button img.search-bar__button__icon {
  color: inherit;
  background: inherit;
  height: 1.7rem;
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.1s;
}

section.tag-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center normal;
  gap: 0.5rem;
  width: calc(100% - 3rem);
  margin-inline: auto;
  cursor: pointer;
}
section.tag-btns .tag-btn {
  display: flex;
  width: 100%;
  height: 8rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #283345;
  margin-inline: auto;
  gap: 0.2rem;
  transition: 0.25s;
  position: relative;
  border-radius: 0.26em;
}
section.tag-btns .tag-btn img.tag-btn-icon {
  margin-bottom: 0.4em;
  z-index: 99999;
}
section.tag-btns .tag-btn img.tab-btn-img {
  position: absolute;
  opacity: 10%;
  background-color: #324157;
  margin-bottom: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section.tag-btns .tag-btn p {
  margin-top: 0.3rem;
  color: #6f90c2;
  font-weight: 600;
}
section.tag-btns .tag-btn:hover {
  color: red;
  background-color: rgba(40, 51, 69, 0.8);
}

section.game-list {
  width: calc(100% - 3rem);
  margin-inline: auto;
}
section.game-list .game-list__tabs-container .game-list__tabs {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}
section.game-list .game-list__tabs-container .game-list__tabs .game-list__tabs__item p {
  font-size: 1.125rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
  transition: 0.5s;
}
section.game-list .game-list__tabs-container .game-list__tabs .game-list__tabs__item p:hover, section.game-list .game-list__tabs-container .game-list__tabs .game-list__tabs__item p:focus {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.25s;
}
section.game-list .game-list__tabs-container .game-list__tabs .game-list__tabs__item p.selected {
  background-color: #1c2534;
  border-radius: 0.4em 0.4em 0 0;
}
section.game-list .game-list__tabs-container .game-list__tabs .game-list__tabs__item .more-arrow {
  background: #252f40;
  border-radius: 0.26em;
  width: 2rem;
  width: 1.25rem;
  aspect-ratio: 1/1.4;
  display: grid;
  place-content: center;
  transition: 0.25s;
}
section.game-list .game-list__tabs-container .game-list__tabs .game-list__tabs__item .more-arrow:hover, section.game-list .game-list__tabs-container .game-list__tabs .game-list__tabs__item .more-arrow:focus {
  opacity: 0.8;
}
section.game-list .game-list__tabs-container .game-list__tabs .game-list__tabs__item .more-arrow img {
  aspect-ratio: 1;
}
section.game-list .game-list-container {
  background-color: #283345;
  background-color: #1c2534;
  border-radius: 0 0.26em 0.26em 0.26em;
  padding: 0.8rem;
}
section.game-list .game-list-container .game-list-container__games {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin-bottom: 2rem;
  padding-right: 0;
}
section.game-list .game-list-container .game-list-container__games .game-list__card {
  display: flex;
  background-color: #252f40;
  width: 100%;
  border-radius: 0.26em;
  cursor: pointer;
}
section.game-list .game-list-container .game-list-container__games .game-list__card .game-list__card__img {
  width: 50%;
  aspect-ratio: 21/9;
  border-radius: 0.26em 0 0 0.26em;
}
section.game-list .game-list-container .game-list-container__games .game-list__card .game-list__card-container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  margin-inline: 0.8rem;
  width: 100%;
}
section.game-list .game-list-container .game-list-container__games .game-list__card .game-list__card-container .game-list__card-title-genre-container {
  display: flex;
  flex-direction: column;
}
section.game-list .game-list-container .game-list-container__games .game-list__card .game-list__card-container .game-list__card-title-genre-container .game-list__card__title {
  font-size: 1.125rem;
}
section.game-list .game-list-container .game-list-container__games .game-list__card .game-list__card-container .game-list__card-title-genre-container .game-list__card__genre {
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.9rem;
}
section.game-list .game-list-container .game-list-container__games .game-list__card .game-list__card-container .game-list__card__os__price-container {
  display: flex;
  justify-content: space-between;
}
section.game-list .game-list-container .game-list-container__games .game-list__card .game-list__card-container .game-list__card__os__price-container .game-list__card__os-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.4em;
}
section.game-list .game-list-container a.game-list__see-more {
  font-size: 1.125rem;
  margin: 0.9rem 0 0.1rem 0;
  font-size: 1.125rem;
  transition: 0.25s;
}
section.game-list .game-list-container a.game-list__see-more:hover, section.game-list .game-list-container a.game-list__see-more:focus {
  opacity: 0.8;
}

section.queue {
  width: calc(100% - 3rem);
  margin-inline: auto;
}
section.queue h2.queue__header {
  margin-bottom: 0.4em;
}
section.queue .queue__game-container {
  position: relative;
  display: flex;
}
section.queue .queue__game-container .see-all {
  display: grid;
  place-content: center;
  position: absolute;
  color: #ffffff;
  z-index: 99999;
  position: absolute;
  transition: 0.25s ease-in-out;
  inset: 0;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  background-color: rgba(40, 51, 69, 0.92);
  padding: 0.6em 3.5em;
  border-radius: 0.4em;
}
section.queue .queue__game-container .see-all:hover, section.queue .queue__game-container .see-all:focus {
  padding: 0.65em 3.7em;
  opacity: 0.98;
}
section.queue .queue__game-container .queue-item {
  aspect-ratio: 16/9;
  -o-object-fit: contain;
     object-fit: contain;
}
section.queue .queue__game-container .queue__game-1 {
  width: 40%;
  z-index: 999;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
}
section.queue .queue__game-container .queue__game-2 {
  width: 44%;
  margin-left: -4.6rem;
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
          clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
  z-index: 998;
}
section.queue .queue__game-container .queue__game-3 {
  width: 29%;
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
          clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
}

footer {
  margin-top: 3rem;
  width: calc(100% - 3rem);
  margin-inline: auto;
}
footer .footer-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-inline: auto;
  width: 100%;
  text-align: center;
  gap: 0.5rem;
}
footer .footer-container ul {
  display: flex;
  white-space: nowrap;
  gap: 0.5rem;
}
footer .footer-container ul li a {
  margin-right: 0.5rem;
}
footer .footer__bottom {
  margin-top: 2rem;
  margin-bottom: 1rem;
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  align-content: baseline;
}
footer .footer__bottom .footer__bottom__copyright {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.7rem;
}

body {
  max-width: 37.5rem;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
  background-color: #151b24;
  counter-increment: item;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}
.carousel__snapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: toNext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  .carousel__slide:last-child .carousel__snapper {
    animation-name: toStart, snap;
  }
}
@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}
.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel__prev,
.carousel__next {
  position: absolute;
  top: 50%;
  width: 2.8rem;
  aspect-ratio: 1;
  border-radius: 0.26em;
  background-position: center center;
  text-align: center;
  background: url(/icons/Arrow.svg);
  background-repeat: no-repeat;
  background-size: 1.6rem 1.6rem;
  background-position: 50%;
}

.carousel__prev {
  background: url(/icons/Arrow.svg);
  background-repeat: no-repeat;
  transform: translateY(-50%);
  background-position: 50%;
  background-size: 1.2rem 1.2rem;
  rotate: 180deg;
  background-color: rgba(21, 27, 36, 0.3);
  top: 40%;
}

.carousel__next {
  background-size: 1.2rem 1.2rem;
  transform: translateY(-50%);
  background-color: rgba(21, 27, 36, 0.3);
}

.carousel::before,
.carousel__prev {
  left: 2rem;
}

.carousel::after,
.carousel__next {
  right: 2rem;
}

.actual-steam-site {
  margin: 2rem 0;
}
.actual-steam-site h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}/*# sourceMappingURL=style.css.map */