// Colors
$bg-color: #151b24;
$bg-color-2: #131820;
$highlight-color: #6f90c2;
$darker-color: #283345;
$box-color: #1b232f;
$focal-color: #324157;
$light-color: #ffffff;
$button-color: $darker-color;
$card-bg-color: #252f40;
$game-list-bg: #1a2230;
$game-list-bg: #1c2534;
$nav-bg-color: #141c28;
$slider-arrow-bg: rgba(
  $color: $bg-color,
  $alpha: 0.3,
);
// Hover
$hover-transition-time: 0.25s;
$hover-opacity: 0.8;
$hover-opacity-high: 0.92;

// Background
$transparent-button-color: rgba(
  $color: $darker-color,
  $alpha: $hover-opacity-high,
);

// Border-radius
$border-sm: 0.26em;
$border-lg: 0.4em;

// Gradient
$page-bg: linear-gradient(
  90deg,
  rgba(26, 27, 31, 1) 0%,
  rgba(12, 12, 20, 1) 48%,
  rgba(26, 27, 31, 1) 100%
);

$header-bg: linear-gradient(
  349deg,
  rgb(30 42 59) 0%,
  rgb(18 26 38) 100%,
  rgb(9 13 19) 100%
);
// Font size
$font-legal: 0.7rem;
$font-xs: 0.9rem;
$font-sm: 1.125rem;
$font-md: 1.4rem;
$font-lg: 2rem;

// Space
$space-100: 1rem;
$space-200: 2rem;
$space-300: 3rem;
$space-400: 4rem;
$space-500: 5rem;
$space-600: 6rem;
$space-700: 7rem;
$section-margin: 1.3rem;
$project-padding: 1.5rem;
$section-vertical-space: 2.2rem;
$project-width: calc(100% - (2 * $project-padding));

*,
*::before,
*::after {
  box-sizing: border-box;
  color: $light-color;
  margin: 0;
  padding: 0;
}

// Scrollbar
.scroll {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

::-webkit-scrollbar {
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: $focal-color;
}
//////////

body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(28, 29, 32);
  background: $page-bg;
  max-width: 414px;
  width: $project-width;
  margin-inline: auto;
  margin: 2rem 0;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input {
  -webkit-appearance: none;
  box-shadow: none !important;
}
:-webkit-autofill {
  color: $light-color !important;
}

nav {
  display: none;
  .legal {
    display: flex;
    gap: $space-100;
    flex-direction: column;
    p {
    }
    font-size: $font-legal;
  }
}
nav.show {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-between;
  z-index: 99999;
  background-color: rgba($color: $nav-bg-color, $alpha: 0.98);
  right: 0;
  top: 0;
  font-size: $font-md;
  padding: $space-200;
  width: 65%;
  height: 32.5rem;
  ul {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    text-align: right;
    li {
      padding: $space-100 0;
      border-bottom: 1px solid $box-color;
      border-top: 1px solid $box-color;
      &:hover {
        opacity: $hover-opacity !important;
      }
    }
  }
  .close-btn {
    $--height: $space-200;
    height: $--height;
    aspect-ratio: 1;
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: calc($space-200 - 1rem);
    &::after {
      content: "\d7";
      position: absolute;
      inset: 0;
      color: $light-color;
      font-size: $--height;
      line-height: $--height;
      text-align: center;
      line-height: $--height;
      text-align: center;
    }
  }
}

a {
  text-decoration: none;
  color: $light-color;
}

ul {
  list-style: none;
}

.steam-site {
  background-color: $bg-color;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: $section-vertical-space;
  margin: 2rem 0 5rem 0;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  cursor: pointer;
  object-fit: cover;
}

input,
textarea,
button,
select {
  font: inherit;
  border: transparent;
  cursor: pointer;
  outline: none;
}

input[type="text"] {
  color: $light-color;
  cursor: auto;
  &::placeholder {
    color: rgba($color: $highlight-color, $alpha: 0.85);
  }
}

input[type="submit"]:hover,
button:hover {
  opacity: 1;
  background-color: $button-color !important;
  outline: none;
}

header {
  background: rgb(20, 26, 35);
  background: $header-bg;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#141a23",endColorstr="#141a23",GradientType=1);
  padding: $space-100 0;

  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
    width: $project-width;
    .header__logo {
      width: 2.5rem;
      aspect-ratio: 1;
      display: flex;
      align-items: center;
      gap: 0.3rem;
      img.logo__image {
        width: 150px;
        aspect-ratio: 1;
      }
      a.logo__text {
        cursor: pointer;
      }
    }
    .header__menu {
      .header__menu__image {
        transition: $hover-transition-time;
        display: block;
        &:hover,
        &:focus {
          opacity: $hover-opacity;
        }
        &.hide {
          display: none;
        }
      }
    }
  }
}

section.featured-games {
  margin-top: calc(-1 * $section-vertical-space);
}

form.search-bar {
  margin-inline: auto;
  background-color: $darker-color;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $highlight-color;
  border: 2px solid $focal-color;
  width: $project-width;
  border-radius: $border-lg;

  input.search-bar__input {
    color: $light-color;
    font-size: $font-sm;
    background-color: transparent;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    border: none;
    width: $project-width;
    padding: 0.35rem 0.1rem;
    cursor: auto;
    &::placeholder {
      color: rgba($color: $highlight-color, $alpha: 0.85);
    }
  }
  button.search-bar__button {
    background-color: transparent;
    border: none;
    img.search-bar__button__icon {
      color: inherit;
      background: inherit;
      height: 1.7rem;
      aspect-ratio: 1;
      object-fit: contain;
      transition: 0.1s;
    }
  }
}
section.tag-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center normal;
  gap: 0.5rem;
  width: $project-width;
  margin-inline: auto;
  cursor: pointer;
  .tag-btn {
    display: flex;
    width: 100%;
    height: 8rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid $darker-color;
    margin-inline: auto;
    gap: 0.2rem;
    transition: $hover-transition-time;
    position: relative;
    border-radius: $border-sm;
    img.tag-btn-icon {
      margin-bottom: $border-lg;
      z-index: 99999;
    }
    img.tab-btn-img {
      position: absolute;
      opacity: 10%;
      background-color: rgba($color: $focal-color, $alpha: 1);
      margin-bottom: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    p {
      margin-top: 0.3rem;
      color: $highlight-color;
      font-weight: 600;
    }
    &:hover {
      color: red;
      background-color: rgba($color: $darker-color, $alpha: $hover-opacity);
    }
  }
}
.selected {
  background-color: $game-list-bg;
  border-radius: $border-lg $border-lg 0 0;
}
section.game-list {
  width: $project-width;
  margin-inline: auto;
  .game-list__tabs-container {
    .game-list__tabs {
      display: flex;
      justify-content: center;
      justify-content: space-between;
      align-items: center;
      .game-list__tabs__item {
        p {
          display: grid;
          place-content: center;
          font-size: $font-sm;
          padding: 0.5rem $space-200;
          cursor: pointer;
          transition: 0.5s;
          &:hover,
          &:focus {
            color: rgba($color: $light-color, $alpha: $hover-opacity);
            transition: $hover-transition-time;
          }
        }
        p.selected {
          background-color: $game-list-bg;
          border-radius: $border-lg $border-lg 0 0;
        }
        .more-arrow {
          background: #252f40;
          border-radius: $border-sm;
          width: 2rem;
          width: 1.25rem;
          aspect-ratio: 1/1.4;
          display: grid;
          place-content: center;
          transition: $hover-transition-time;
          &:hover,
          &:focus {
            opacity: $hover-opacity;
          }
          img {
            aspect-ratio: 1;
          }
        }
      }
    }
  }

  .game-list-container {
    background-color: $darker-color;
    background-color: $game-list-bg;
    border-radius: 0 $border-sm $border-sm $border-sm;
    $card-padding: calc($project-padding - 0.7rem);
    padding: $card-padding;
    .game-list-container__games {
      display: flex;
      flex-direction: column;
      gap: 0.7rem;
      margin-bottom: $space-200;
      padding-right: 0;
      .game-list__card {
        display: flex;
        background-color: $card-bg-color;
        width: 100%;
        border-radius: $border-sm;
        cursor: pointer;
        .game-list__card__img {
          width: 50%;
          aspect-ratio: 21/9;
          border-radius: $border-sm 0 0 $border-sm;
        }
        .game-list__card-container {
          display: flex;
          gap: 2rem;
          flex-direction: column;
          justify-content: center;
          margin-inline: $card-padding;
          width: 100%;
          .game-list__card-title-genre-container {
            display: flex;
            flex-direction: column;
            .game-list__card__title {
              font-size: $font-sm;
            }
            .game-list__card__genre {
              color: rgba($color: $light-color, $alpha: 0.65);
              font-size: $font-xs;
            }
          }
          .game-list__card__os__price-container {
            display: flex;
            justify-content: space-between;
            .game-list__card__os-container {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              gap: $border-lg;
              .game-list__card__os {
              }
            }
            .game-list__card__price-container {
              .game-list__card__price.highlight-color {
              }
            }
          }
        }
      }
    }
    a.game-list__see-more {
      font-size: $font-sm;
      margin: 0.9rem 0 0.1rem 0;
      font-size: $font-sm;
      transition: $hover-transition-time;
      &:hover,
      &:focus {
        opacity: $hover-opacity;
      }
    }
  }
}

section.queue {
  width: $project-width;
  margin-inline: auto;
  h2.queue__header {
    margin-bottom: $border-lg;
  }
  .queue__game-container {
    position: relative;
    .see-all {
      display: grid;
      place-content: center;
      position: absolute;
      color: $light-color;
      z-index: 99999;
      position: absolute;
      transition: $hover-transition-time ease-in-out;
      inset: 0;
      height: fit-content;
      width: fit-content;
      margin: auto;
      background-color: $transparent-button-color;
      padding: 0.6em 3.5em;
      border-radius: $border-lg;
      &:hover,
      &:focus {
        padding: 0.65em 3.7em;
        opacity: 0.98;
      }
    }
    .queue-item {
      aspect-ratio: 16/9;
      object-fit: contain;
    }
    display: flex;
    .queue__game-1 {
      width: 40%;
      z-index: 999;
      box-shadow: 0 0px 3px rgb(0 0 0 / 0.2);
    }
    .queue__game-2 {
      width: 44%;
      margin-left: calc(-2.3 * $space-200);
      clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
      z-index: 998;
    }
    .queue__game-3 {
      width: 29%;
      clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
    }
  }
}

footer {
  margin-top: 3rem;
  width: $project-width;
  margin-inline: auto;
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-inline: auto;
    width: 100%;
    text-align: center;
    gap: 0.5rem;
    ul {
      display: flex;
      white-space: nowrap;
      gap: 0.5rem;
      li {
        a {
          margin-right: 0.5rem;
        }
      }
    }
  }
  .footer__bottom {
    margin-top: $space-200;
    margin-bottom: $space-100;
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    align-content: baseline;

    .footer__bottom__copyright {
      color: rgba($color: $light-color, $alpha: 0.7);
      font-size: $font-legal;
    }
  }
}

body {
  max-width: 37.5rem;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
  background-color: $bg-color;
  counter-increment: item;
  object-fit: cover;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: toNext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: toStart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel__prev,
.carousel__next {
  position: absolute;
  top: 50%;
  width: 2.8rem;
  aspect-ratio: 1;
  border-radius: $border-sm;
  background-position: center center;
  text-align: center;
  background: url(/icons/Arrow.svg);
  background-repeat: no-repeat;
  background-size: 1.6rem 1.6rem;
  background-position: 50%;
}

.carousel__prev {
  background: url(/icons/Arrow.svg);
  background-repeat: no-repeat;
  transform: translateY(-50%);
  background-position: 50%;
  background-size: 1.2rem 1.2rem;
  rotate: 180deg;
  background-color: $slider-arrow-bg;
  top: 40%;
}
.carousel__next {
  background-size: 1.2rem 1.2rem;
  transform: translateY(-50%);
  background-color: $slider-arrow-bg;
}

.carousel::before,
.carousel__prev {
  left: $space-200;
}

.carousel::after,
.carousel__next {
  right: $space-200;
}
////

.actual-steam-site {
  margin: 2rem 0;
  h2 {
    font-size: $font-lg;
    margin-bottom: 2rem;
    text-align: center;
  }
}
